{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}

    {{ form_row(form.score) }}
        <h3>Players</h3>
            <ul class="players"
            data-index="{{ form.players|length > 0 ? form.players|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.players.vars.prototype)|e('html_attr') }}">
            {% for player in form.players %}
                <li>{{ form_row(player.name) }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="add_item_link" data-collection-holder-class="players">Add a player</button>
{{ form_end(form) }}
{% endblock %}
